@page "/film/updatefilm/{id}"
@inject IFilmService filmeService
@inject IAlertService AlertService
@inject NavigationManager navManager
@inject PrintWayy.Cinema.Presentation.BlazorServer.Shared.PageHistoryState PageHistoryState

<h1>Edit Person</h1>
<br/>

<Form ButtonText="Atualizar Filme" film="@film" loading="@loading"
            OnValidSubmit="@UpdateFilm" />

@code {
    bool loading = false;
    
    [Parameter]
    public string Id { get; set; }

    Film film = new Film
    {
        ImagePath = "",
        Title = "",
        Description = "",
        Duration = "",
    };
    
    protected async override Task OnParametersSetAsync()
    {
       film = await filmeService.GetFilmViewModel(Guid.Parse(Id));
    }

    async Task UpdateFilm()
    {
        loading = true;
        try
        {
            await filmeService.UpdateFilmViewModel(film);
            AlertService.Success("Filme Atualizado com sucesso", keepAfterRouteChange: true);
            if (PageHistoryState.CanGoBack()){
                navManager.NavigateTo(PageHistoryState.GetGoBackPage());
            }
            else{
                navManager.NavigateTo("/film/1");
            } 
        }
        catch (Exception ex)
        {
            AlertService.Error(ex.Message);
            loading = false;
            StateHasChanged();
        }
    }
}