@page "/film/update/{id}"
@inject IFilmService filmeService
@inject IAlertService AlertService
@inject NavigationManager navManager
@inject PrintWayy.Cinema.Presentation.BlazorServer.Shared.PageHistoryState PageHistoryState

<h1>Alterar Cadastro do Filme</h1>
<br />

<Form ButtonText="Atualizar Filme" filmViewModel="@filmViewModel" loading="@loading"
      OnValidSubmit="@UpdateFilm" />

@code {
    bool loading = false;

    [Parameter]
    public string Id { get; set; }

    Film filmViewModel = new Film
        {
            ImageBase64 = new Domain.Models.ImageData(),
            Title = "",
            Description = "",
            Duration = "",
        };

    protected async override Task OnParametersSetAsync()
    {
        filmViewModel = await filmeService.GetFilmViewModel(Guid.Parse(Id));
    }

    async Task UpdateFilm()
    {
        loading = true;
        try
        {
            await  filmeService.UpdateFilmViewModel(filmViewModel);
            AlertService.Success("Filme Atualizado com sucesso", keepAfterRouteChange: true);
            if (PageHistoryState.CanGoBack())
            {
                navManager.NavigateTo(PageHistoryState.GetGoBackPage());
            }
            else
            {
                navManager.NavigateTo("/film/1");
            }
        }
        catch (Exception ex)
        {
            AlertService.Error(ex.Message);
            loading = false;
            StateHasChanged();
        }
    }
}