@inherits LayoutComponentBase

<PageTitle>PrintWayy Cinema Manager</PageTitle>

<div class="page">
     <div class="sidebar">
            <NavMenu />
        </div>
    <main>
        
        <div class="top-row px-4">
            <img src="images/clipart-tv-and-popcorn-10.png" width="50" />
            <h2 class="text-start">Pop Corn</h2>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">
                Sair <span class="oi oi-account-logout" aria-hidden="true"></span> 
                </a>
        </div>
        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
