@inherits LayoutComponentBase
@inject IUserService UserService

<PageTitle>PrintWayy Cinema Manager</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <div class="top-row px-4">
            <div class="px-0" style="flex:auto">
                <img src="images/logo.png" width="100" />
                <img src="images/logo2.png" width="250" />
            </div>
            @if (LoggedIn)
            {
                <NavLink href="/user/logout" class="oi oi-account-logout" style="font-size:large">  Logout</NavLink>
            }
            else
            {
                <NavLink href="/user/login" class="oi oi-account-login" style="font-size:large">  Login</NavLink>
            }
        </div>

        <article class="content px-4">
            <Alert />
            @Body
        </article>
    </main>
</div>
@code {
    public bool LoggedIn
    {
        get { return UserService.User != null; }
    }
}