@using PrintWayy.Cinema.Presentation.BlazorServer.Service
@using PrintWayy.Cinema.Domain.Models
@page "/"
@page "/rooms"
@inject IRoomService RoomService

<PageTitle>Salas</PageTitle>
<h1>Salas</h1>

@if (rooms == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Quantidade de Assentos</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var room in rooms)
            {
                <tr>
                    <td scope="row">@room.Name</td>
                    <td scope="row">@room.NumberSeats</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Room> rooms;

    protected override async Task OnInitializedAsync()
    {
        rooms = await RoomService.GetAll();
    }
}
