@page "/sessions"
@using PrintWayy.Cinema.Presentation.BlazorServer.Service
@using PrintWayy.Cinema.Domain.Models

<PageTitle>Weather forecast</PageTitle>
<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (rooms == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Quantidade de Assentos</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var room in rooms)
            {
                <tr>
                    <td>@room.Name</td>
                    <td>@room.NumberSeats</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Room[] rooms;

    protected override async Task OnInitializedAsync()
    {
        rooms = await RoomService.GetRoomsAsync();
    }
}
